In [1]:
# Install ipython-sql if not already installed
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython-sql) (2.0.36)
Requirement already satisfied: sqlparse in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython-sql) (0.5.1)
Requirement already satisfied: six in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: exceptiongroup in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (1.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\envs\tenserflow\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
import sqlite3
import sql
import pandas as pd
import numpy as np

# Connect to a database (creates the database file if it doesn't exist)
cnn = sqlite3.connect('jupyter_sql_tutorial.db')

In [3]:
import sql

# Load the SQL extension
%load_ext sql

# Connect to a SQLite database
%sql sqlite:///jupyter_sql_tutorial.db

#display style of SQL query results in Jupyter Notebook
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
import pandas as pd

df = pd.DataFrame({'name': ['Juan', 'Victoria', 'Mary', 'Himanshu'], 
                  'age': [23,34,43,30], 
                  'city': ['Miami', 'Buenos Aires','Santiago','Nagpur']})

df

       name  age          city
0      Juan   23         Miami
1  Victoria   34  Buenos Aires
2      Mary   43      Santiago
3  Himanshu   30        Nagpur

In [5]:
# converting pandas datafrmae into SQL database table
df.to_sql('people', cnn, if_exists='replace', index=False)

4

In [6]:
%%sql

SELECT *
FROM people;

 * sqlite:///jupyter_sql_tutorial.db
Done.

[('Juan', 23, 'Miami'),
 ('Victoria', 34, 'Buenos Aires'),
 ('Mary', 43, 'Santiago'),
 ('Himanshu', 30, 'Nagpur')]