In [2]:
import sqlite3
import sql
import pandas as pd
import numpy as np

# Connect to a database (creates the database file if it doesn't exist)
cnn = sqlite3.connect('learning_entities.db')

In [3]:
import sql

# Load the SQL extension
%load_ext sql

# Connect to a SQLite database
%sql sqlite:///learning_entities.db

#display style of SQL query results in Jupyter Notebook
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [4]:
%%sql

SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///learning_entities.db
Done.

[]

# Strong Entity

In [5]:
%%sql

CREATE TABLE Customer (
    CustomerID INT PRIMARY KEY,
    Name VARCHAR(100),
    Email VARCHAR(100)
);

 * sqlite:///learning_entities.db
Done.

[]

In [6]:
%%sql

select * from customer;

 * sqlite:///learning_entities.db
Done.

[]

# Weak Entity

In [7]:
%%sql

CREATE TABLE Employee (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(100)
);

CREATE TABLE Dependent (
    DependentID INT,
    Name VARCHAR(100),
    EmployeeID INT,
    PRIMARY KEY (DependentID, EmployeeID),
    FOREIGN KEY (EmployeeID) REFERENCES Employee(EmployeeID)
);

 * sqlite:///learning_entities.db
Done.
Done.

[]

In [8]:
%%sql

select * from Employee;

 * sqlite:///learning_entities.db
Done.

[]

In [9]:
%%sql

select * from Dependent;

 * sqlite:///learning_entities.db
Done.

[]

In [ ]:
%%sql

Drop Table customer;

In [ ]:
%%sql

select * from customer;

In [ ]:
%%sql

Drop Table Employee;
Drop Table Dependent;

In [ ]:
%%sql

select * from Employee;