In [ ]:
# Install ipython-sql if not already installed
# !pip install ipython-sql

In [ ]:
import sqlite3
import sql
import pandas as pd
import numpy as np

# Connect to a database (creates the database file if it doesn't exist)
cnn = sqlite3.connect('northwind1.db')

In [ ]:
import sql

# Load the SQL extension
%load_ext sql

# Connect to a SQLite database
%sql sqlite:///northwind1.db

#display style of SQL query results in Jupyter Notebook
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [ ]:
%%sql

SELECT name FROM sqlite_master WHERE type='table';

In [ ]:
%%sql

SELECT * 
FROM Customers;

# Returns all customers from Mexico OR Brazil

In [ ]:
%%sql

SELECT *
FROM Customers
WHERE Country = 'Mexico' OR Country = 'Brazil';

In [ ]:
%%sql

SELECT * 
FROM Customers 
WHERE Country = 'Mexico';

In [ ]:
%%sql

SELECT * 
FROM Customers 
WHERE Country = 'Mexico' 
OR CustomerName LIKE 'A%';

In [ ]:
%%sql

SELECT * 
FROM Customers 
WHERE Country = 'Mexico' 
OR CustomerName LIKE 'A%'
OR City = 'London';

In [ ]:
%%sql

SELECT * FROM Products
ORDER BY ProductName;

In [ ]:
%%sql
SELECT * 
FROM Products 
WHERE ProductName LIKE '_h%' ;

In [ ]:
%%sql
SELECT * 
FROM Products 
WHERE ProductName LIKE '_h%' 
OR Price > 20;

# END..... Practice Below...

In [ ]:
%%sql

SELECT * 
FROM Customers
WHERE country = 'Brazil';

In [ ]:
%%sql

SELECT * 
FROM Customers
WHERE CustomerID=3;

In [ ]:
%%sql

SELECT * FROM Products;

In [ ]:
%%sql

SELECT *
FROM Products
WHERE Price > 40;

In [ ]:
%%sql

SELECT * 
FROM Products
WHERE Price < 40;

In [ ]:
%%sql

SELECT * 
FROM Products
WHERE Price >= 30;

In [ ]:
%%sql

SELECT * 
FROM Products
WHERE Price <= 30;

In [ ]:
%%sql

SELECT * FROM Products
WHERE Price <> 30;

In [ ]:
%%sql

SELECT * 
FROM Products
WHERE Price BETWEEN 30 AND 40;

In [ ]:
%%sql

SELECT * 
FROM Customers
WHERE City IN ('Paris','London');

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql